@font-face{
    font-family: Roboto;
src: url('Fonts/Roboto-Regular.ttf') format('truetype')
}
@font-face{
    font-family: Lobster;
src: url('Fonts/Lobster-Regular.ttf') format('truetype')
}
@font-face{
    font-family: Barriecito;
src: url('Fonts/Barriecito-Regular.ttf') format('truetype')
}

body{
    background: url(../img/fondo.png);
    font-family: 'Roboto', sans-serif;
    color:#46433A;       
}

h1{
    font-family: 'Barriecito', cursive;
    color: #CE534D;   
    font-size: 34pt; 
}

h2, h3{
    font-family: 'Lobster', cursive;
    margin: 1px;
}

a{
    text-decoration: none;
    font-family: 'Barriecito', cursive;
    color:#46433A;
    font-size: 30px;
}

p{ 
    font-size: 10pt;
    text-align: justify;
}

li{
    font-size: 12pt;
}

.Div_Sidebar{
    width: 27%;
    float: left;
    box-sizing: border-box;  
    border: 2px solid #CE534D;
    border-radius: 1%;
    padding: 20px;
    margin-top: 3%;
    margin-left: 3%; 
    background-color: #f2f1ed;  
    text-align: center;
    position: fixed;
}

.Div_Secciones{
    width: 65%;
    float: right;
    box-sizing: border-box;      
    border: 2px solid #CE534D;
    border-radius: 1%;
    padding: 20px;
    margin-top: 3%;
    margin-right: 3%;   
    background-color: #f2f1ed;
}

.avatar{
    width: 65%;
    height: 65%;
}

.li_sidebar{
    list-style: none;
    margin-block-start: 0%;
    padding-inline-start: 0%;
}

.li_padre{
    font-size: 12pt;
    margin-bottom: 10px;
}

.li_hijo{
    font-size: 10pt;
    margin-bottom: 5px;
}

.lista_Fecha_Nac{
	margin: 0;
	padding: 10px 0 10px 40px;
	list-style: none;
    background-image: url(../img/Fecha_Nac.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
}

.lista_Domicilio{
	margin: 0;
	padding: 10px 0 10px 40px;
	list-style: none;
	background-image: url(../img/Domicilio.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
}

.lista_Mail{
    margin: 0;
	padding: 10px 0 10px 40px;
	list-style: none;
	background-image: url(../img/Mail.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
}

.lista_Linkedin{
    margin: 0;
	padding: 10px 0 10px 40px;
	list-style: none;
	background-image: url(../img/Linkedin.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
}

.Experiencia{
    padding-left: 10px;
    padding-right: 10px;
    margin:20px;
}

.lista_Proyectos{
    margin-block-start: 0%;
    margin-block-end: 0%;
    padding-inline-start: 1%;
    padding-inline-end: 1%;
}

.lista_Proyectos li{
    display:inline;
}

.Item_Lista_Proyectos{
    width: 19%;
}